.islandBG {
  background: url(../../../assets/pokeIslandBG.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0%;
}

.pokemonInfo {
  border: 0px none transparent;
  background-color: transparent;
}

.battleBtn {
  background-color: #2792F0;
  border: 2px solid #FAEA63;
  color: #ABDB23;
  font-family: Pokemon;
  padding-bottom: 10px;
  margin-left: 15px;
}

.battleBtn:hover {
  background-color: #1d70b9;
}
